# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

# azure-functions
# 第一个glibc 版本不太行
# openjtalk==0.3.0.dev2
pyopenjtalk-prebuilt==0.3.0
cn2an
jieba
pypinyin
pydub
requests
loguru
# av
fastapi
pydantic
# onnxruntime
unidecode
uvicorn 